@tailwind base;
.font-uber {
  /* font-family: "Uber Move";
  font-weight: bold; */
  font-family: "Uber Move Text";
  font-weight: normal;
}

@tailwind components;
@tailwind utilities;

.input {
  @apply focus:outline-none focus:border-gray-400 px-5 py-2 border text-lg font-light border-gray-200 transition-colors;
}

.btn {
  @apply text-white font-medium  px-5 py-3 transition-colors bg-lime-600 hover:bg-lime-700;
}

.disabledBtn {
  @apply text-white font-medium  px-5 py-3 bg-gray-300;
}
